
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    height: 100%;
    background: #242424;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
form {
    background-color: #fff;
    width: 50%;
    border-radius: 20px;
    padding: 40px;

}
input {
    padding: 5px;
    
}